.banner {
	width: 100%;
	aspect-ratio: 100 / 42;
	@include cover-bg;
	
	&--text {
	  display: flex;
	  
	  & > * {
		margin: auto;
		color: var(--white);
		max-width: 80%;
		font-size: rem(60);
		text-align: center;
		font-weight: 700;
	  }
	}
  }